#root,
html,
body {
  /* we want the height of our application to be the full height of our screen */
  height: 100vh;
}

body {
  margin: 0;
  background-color: cornflowerblue;
}

* {
  /* the full width and height remains exactly how it is specified, no matter what! */
  /* it is more intuitive */
  box-sizing: border-box;
}
html {
  /* we want the scroll animation to be smooth */
  scroll-behavior: smooth;
}
